[SIMILARITIES]
ignore-imports=yes

[FORMATTING]
max-line-length=100

[MESSAGES CONTROL]
disable = missing-docstring,
          missing-module-docstring,
          invalid-name,
          bad-continuation
